<div class="container">
    <h2>Login</h2>

    <br><br><br><br>

    <form id="login-form">
        <div class="form-group has-info label-static is-empty">
            <label for="username" class="control-label">Username</label>
            <input id="username" name="username" class="form-control" type="text" placeholder="Username"/>
        </div>
        <br>

        <div class="form-group has-info label-static is-empty">
            <label for="password" class="control-label">Password</label>
            <input id="password" name="password" class="form-control" type="password" placeholder="Password"/>
        </div>

        <button class="btn btn-raised btn-info waves-effect">Login</button>


    </form>
</div>