<div class="container">

    <h1>Register Account</h1>
<br>
    <form id="registration-form">
        <div class="form-group has-info label-static is-empty">
            <label for="username" class="control-label">Username</label>
            <input id="username" name="username" class="form-control" type="text" placeholder="Choose a Username" required>
        </div>

          <div class="form-group  has-info label-static is-empty">
            <label for="display_name" class="control-label">Full Name</label>
            <input id="display_name" name="name" class="form-control" type="text" placeholder="Enter Your Full Name" required>
        </div>

          <div class="form-group has-info label-static is-empty">
            <label for="email" class="control-label">Email Address</label>
            <input id="email" name="email" class="form-control" type="email" placeholder="Enter Your Email" required>
        </div>

          <div class="form-group has-info label-static is-empty">
            <label for="password" class="control-label">Password</label>
            <input id="password" name="password" class="form-control" type="password" placeholder="Make a Password" required>
        </div>

        <button type="submit" class="btn btn-raised btn-info">Submit<div class="ripple-container"></div></button>
    </form>
</div>